@charset 'utf-8';

/* Simple reset */
* { margin: 0; padding: 0; border: none; outline: none; text-decoration: none; zoom: 1;  }
*, *:before, *:after { -webkit-box-sizing: inherit; box-sizing: inherit; }

html { -webkit-box-sizing: border-box; box-sizing: border-box; }
html, body { font-size: 10px; height: 100%; }

*::-moz-selection { background: rgba(168, 209, 255, 0.4); }
*::selection { background: rgba(168, 209, 255, 0.4); }

body {
    padding: 20px;
    background: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 'Lucida Grande', Helvetica, Arial, sans-serif;

    /* Font smoothing */
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    font-smooth: always;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div.wrapper {
	width: 600px;
	margin: 10px auto 0;
	padding: 20px;
    font-size: 1.3rem;
    line-height: 1.2em;
    font-weight: 300;
    font-style: normal;
	color: #456;
	background: #f9f9f9;
	border: 1px solid #e1e2e3;
	border-radius: 6px;
	box-shadow: 0 6px 8px -1px rgba(0, 0, 0, .3);
}

h1, h2, h3 { font-size: 2.8rem; line-height: 1.2em; font-weight: 100; color: #567; }
h1 { color: #789; margin: 10px 0 30px; text-transform: capitalize; }
h2 { font-size: 1.6rem; font-weight: 300; margin: 20px 0 10px; }
h3 { font-size: 1.4rem; font-weight: 300; margin: 0 0 5px; }

p { margin: 0 0 1em; text-align: justify; }
hr { clear: both; margin: 25px 0;  border: none; border-top: 1px dashed #789; }
hr.separator { height: 1px; margin: 10px 0; border: none; }

/* Links */
a { color: #69c; }
a:hover { position: relative; text-decoration: underline; }
a:active { color: #369;}

div.box  {
	height: 64px; width: 49%; float: left;
	padding: 10px 10px 10px 68px;
	margin: 0 0 12px 0;
	border: 1px solid #e1e2e3;
	border-radius: 4px;
	background: #fff no-repeat 10px 50%;
	background-size: 50px;
}
div.box:nth-of-type(2n) { margin-left: 2%; }

div.box > p { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
div.box > p > a { font-size: 1.1rem; }

/* Images are 128px, displayed as 50px */
div.box.ff { background-image: url(/upgrade/img/Firefox.png); }
div.box.chr_oss { background-image: url(/upgrade/img/Chromium.png); }
div.box.chr { background-image: url(/upgrade/img/Chrome.png); }
div.box.saf { background-image: url(/upgrade/img/Safari.png); }
div.box.op { background-image: url(/upgrade/img/Opera.png); }
div.box.edge { background-image: url(/upgrade/img/Edge.png); }

div.footer {
	clear: both;
	text-align: center;
	position: relative;
	padding: 20px 0 5px;
	font-size: 1.1rem;
	line-height: 1.2em;
	border-top: 4px double #ccc;
}
